// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

iframe {
    width: 100%;
    min-height: 80vh; /* Ensures visibility while allowing scrolling */
    border: none;
}

/* Hide PDF iframe on small screens */
@media (max-width: 600px) {
    .desktop-only {
        display: none;
    }
}

/* Hide the mobile link on larger screens */
@media (min-width: 601px) {
    .mobile-only {
        display: none;
    }
}

/* Target the title in the post header */
.post-title {
    word-wrap: break-word;
    white-space: normal;
    overflow-wrap: normal;
    max-width: 100%;
    font-size: 2em;
}

